.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
    color: var(--text-color);
  }
  
  .dark-mode-toggle {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;
  }
  
  .dark-mode-toggle:hover {
    transform: scale(1.1);
    color: var(--hover-text-color);
  }
  